<div class="content-panel bg-white min-w-max-content align-center p-5 flex-col h-screen ">
    <div class="content-container bg-green-100 h-full rounded-xl shadow-2xl ">
        <div class="title h-20 flex items-center px-10 text-4xl font-extrabold font-serif text-green-700"></span> 
            <div><%= title %>  <span class="text-2xl"><%= typeof subTitle != "undefined" ? `(${subTitle})` : '' %> </div>
        </div>

