    <script src="/js/layout.js"></script>
    </div>
</div>
<script>
    // let data = document.querySelector('.modal')
    function modal(target) {
        let hidden = document.getElementById(target)
        hidden.classList.remove('hidden')
    }
    function closeModal(target) {
        let hidden = document.getElementById(target)
        hidden.classList.add('hidden')
    }
</script>
</body>
</html>