<!-- <div class="content-panel bg-white align-center p-5 flex-col w-full">
    <div class="content-container bg-green-100 rounded-xl h-full shadow-2xl p-10 grid">
        <div class="title t_title-page h-2/12 ">
            <span>Table</span> 
        </div> -->
            <div class="table-container w-full grid place-items-center h-auto bg-green-50 py-3">
                <div class="max-w-screen-lg  overflow-hidden " style="width: 100%;" >
                    <%- include('./_tableBody') %>
                </div>
            </div>
    <!-- </div>
</div> -->

<script src="/js/table.js"></script>